body {
    font-family: sans-serif;
    font-family: "Exo", sans-serif;
    background: #070815;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    background-image: radial-gradient(#ffffff17 1px, transparent 0),
        linear-gradient(187deg, #070815 0%, #0c0310 100%);
    background-size: 40px 40px, 100% 100%;
    background-position: -19px -19px, 0 0;
}

.time{
    font-size: 38px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.date{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 4px;
}

#recordButton {
    display: block;
    margin: 10px auto;
    padding: 5px 20px;
    font-size: 1.4rem;
    border: 5px solid rgb(27, 27, 240);
    border-radius: 50%;
    height: 160px;
    width: 160px;
    background-color: #0084ff59;
    box-shadow: 0 0 40px blue;
    color: white;
    cursor: pointer;
    font-family: "Exo", sans-serif;
}

.typewriter {
    width: fit-content;
}

.typewriter-text {
    width: fit-content;
    max-width: 600px;
    color: #fff;
    margin: auto;
    overflow: hidden;
    text-align: center;
    border-right: 0.15em solid #fff;
    white-space: nowrap;
    font-weight: lighter;
    font-size: 1.3rem;
    animation: typing 1s steps(15, end), blink-caret 0.75s step-end infinite,
        hide-caret 1s 1 forwards;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink-caret {
    0%,
    100% {
        border-color: transparent;
    }
    50% {
        border-color: #fff;
    }
}

@keyframes hide-caret {
    0%,
    99% {
        border-color: inherit;
    }
    100% {
        border-color: transparent;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    color: rgba(255, 255, 255, 0.403);
}